{% block sidebar %}
    <nav class="">
        <div class="nav_links">
            <a href="http://www.philspelman.com">Home</a>
             || <a href="/logout">Reset</a>
            {#        Logged in as: {{ request.user.first_name }}#}
            <span class="nav_title">APT <small>BETA</small></span>
        </div>
        <div class="">
            <div class="">
            <small id="disclaimer" class="text-muted alert-danger col-md-10 col-lg-10">
                This task is currently under development. Feel free to try it out. Want a feature? <strong>Want to use it in your study?</strong> <a
                        href="mailto:phil_spelman@hotmail.com">Contact me</a>.
            </small>
                </div>
        </div>

    </nav>
{% endblock %}