{#{% extends 'base.html' %}#}

{% extends "base.html" %}
{% block content %}
    <div class="">
        <div class="col-sm-12 col-md-10 col-lg-10">
            <br/>
            <h3 class="alert alert-warning">No researcher email or participant_id has been set</h3><br/>
            <p class="col-sm-12 col-md-12">Press continue to demo the task, or enter an email and/or participant_id.<br/>
                Results will be available for download in CSV format.<br/>
{#            <h3><a href="/task/researcher@philspelman.com/99999">TASK AND DOWNLOAD</a></h3>#}
            </p>


        <form name='researcher_and_participant_info_form' action="/research/task/manual_input" method="GET">
                {#    {% csrf_token %}#}

            <div class="form-group col-sm-10 col-md-10 col-lg-10 ">
                <label for="researcher_email">Email address</label>
                <input type="email"
                       name="researcher_email"
                     class="form-control"
                     id="researcher_email"
                     ariadescribedby="emailHelp"
                     placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">
                    This is where the data will be sent
                </small>
                <label for="participant_id">Participant ID</label>
                <input type="number"
                       name="participant_id"
                       class="form-control"
                       id="participant_id"
                       placeholder="Enter participant_id"><br>
            <button type="submit" class="btn btn-primary col-md-6 col-sm-8">Continue</button>
            </div>
{#            <div class="checkbox">#}
{#                <label>#}
{#                    <input type="checkbox"> Check me out </label>#}
{#            </div>#}
        </form>

            <br>
            {#    <a href="make_csv">Make CSV</a>#}
            <br>
            {#    <h2>Link to Instructions Page#}
            {#        <a href="instructions">Instructions</a>#}
            {#    </h2>#}
            <p>current timestamp (UTC): {{ theTime }}</p>
            <br/>
            </div>
    </div>
    <div class="basic">
    {% include "footer.html" %}
    </div>
{% endblock %}
